<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Page1.css" />

  </head>

  <body class="flex-column">

    <section class="page1 mainSection">
      <!-- Main section containing the content of the page. --> 
      <div class="flexContainer">
        <!-- Container for layout with flexible alignment. --> 
        <div class="color5"></div>
        <div class="flex_row">
          <img class="heroImage" src="/assets/3caad998ca97756158178eef53520b15.png" alt="alt text" />
          <h1 class="brandTitle">FLYCO</h1>
        </div>
      </div>
      <div class="heroDescriptionGroup">
        <!-- Group containing the main hero description text. --> 
        <h1 class="heroSubtitleGroup_box">
          <span class="heroSubtitleGroup">
            <span class="heroSubtitleGroup_span0">
              Мы пролетаем с заботой о Вас!
              <br />
            </span>
            <span class="heroSubtitleGroup_span1"><br /></span>
          </span>
        </h1>
        <h1 class="technologicalDescriptionTitle">Наши дроны оснащены передовыми технологиями, которые позволяют передвигаться абсолютно безопасно и быстро по городской местности!</h1>
      </div>
      <div class="searchAreaGroup">
        <!-- Group containing the search area section. --> 
        <div class="color4"></div>
        <h1 class="searchAreaTitle">поиск района:</h1>
      </div>
      <div class="districtsGroup">
        <!-- Group containing districts overview. --> 
        <div class="color"></div>
        <h1 class="districtsTitle">Районы</h1>
        <img class="districtImage" src="/assets/b53bde2702f046ecb758a124c31584b5.png" alt="alt text" />
        <div class="districtsFlexContainer">
          <!-- Flex container for multiple districts display. --> 
          <div class="flex_row1">
            <div class="districtCard">
              <!-- Individual district card for displaying details. --> 
              <div class="color2"></div>
              <div class="flex_col">
                <div class="flex_col1">
                  <div class="flex_col2">
                    <h2 class="districtNameTitle">
                      Район
                      <br />
                      “Академический”
                    </h2>
                    <img class="districtImage1" src="/assets/1c47f75836eb78ddad9ec20c139520ee.png" alt="alt text" />
                  </div>
                  <h3 class="districtFlightTime">Пролет: 2 часа 45 минут</h3>
                </div>
                <button class="addButton">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
            <div class="districtCard2">
              <div class="color2"></div>
              <div class="flex_col3">
                <div class="flex_col4">
                  <h2 class="districtNameTitle2">
                    Район
                    <br />
                    “Алексеевский”
                  </h2>
                  <img class="districtImage2" src="/assets/4bb9be48e3a6998da250d5f99f00e74c.png" alt="alt text" />
                  <h3 class="districtFlightTime2">Пролет: 1 час 30 минут</h3>
                </div>
                <button class="addButton2">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
            <div class="districtCard3">
              <div class="color2"></div>
              <div class="flex_col3">
                <div class="flex_col4">
                  <h2 class="districtNameTitle3">
                    Район
                    <br />
                    “Алтуфьевский”
                  </h2>
                  <img class="districtImage3" src="/assets/44333313d11d76bcf623cb61b9f3c5a8.png" alt="alt text" />
                  <h3 class="districtFlightTime3">Пролет:  45 минут</h3>
                </div>
                <button class="addButton3">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
          </div>
          <div class="districtsGridContainer">
            <!-- Grid container for displaying various districts at once. --> 
            <div class="districtCard4">
              <div class="color2"></div>
              <div class="flex_col">
                <div class="flex_col4">
                  <h2 class="districtNameTitle4">
                    Район
                    <br />
                    “Арбат”
                  </h2>
                  <img class="districtImage4" src="/assets/94b6f9920f4708b95a4f6a50477cebb6.png" alt="alt text" />
                  <h3 class="districtFlightTime4">Пролет: 25 минут</h3>
                </div>
                <button class="addButton4">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
            <div class="districtCard5">
              <div class="color2"></div>
              <div class="flex_col">
                <div class="flex_col4">
                  <h2 class="districtNameTitle5">
                    Район
                    <br />
                    “Аэропорт”
                  </h2>
                  <img class="districtImage5" src="/assets/26f88b6ce4196443e0552b4b3dc37718.png" alt="alt text" />
                  <h3 class="districtFlightTime5">Пролет: 1 час 15 минут</h3>
                </div>
                <button class="addButton5">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
            <div class="districtCard6">
              <div class="color2"></div>
              <div class="flex_col">
                <div class="flex_col4">
                  <h2 class="districtNameTitle6">
                    Район
                    <br />
                    “Беговой”
                  </h2>
                  <img class="districtImage6" src="/assets/5c7ebf8b48666b040bca146fafdaa976.png" alt="alt text" />
                  <h3 class="districtFlightTime6">Пролет: 1 час 55 минут</h3>
                </div>
                <button class="addButton6">
                  <!-- TODO --> 
                  Добавить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </body>

</html>
