@use "utils" as *;
"@use "global" as *;"

.page1 {
  &.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187 231 245);
    overflow: hidden;
  }

  .flexContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .color5 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1480px;
    min-height: 200px;
    background-color: rgb(255 255 255);
  }

  .flex_row {
    position: absolute;
    top: 41px;
    left: 27px;
    display: flex;
    width: 281px;
  }

  .heroImage {
    width: 150px;
    min-width: 0;
    object-fit: cover;
  }

  .brandTitle {
    margin: 27px 0 21px;
    font: 400 48px/1.5 Kanit, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 44px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  .heroDescriptionGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 45px auto 0;
    width: 94.59%;
    max-width: 1399.921875px;
  }

  .heroSubtitleGroup_box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    @include md {
      align-items: flex-start;
    }
  }

  .heroSubtitleGroup {
    font: 400 96px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      font-size: 52px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  .heroSubtitleGroup_span0 {
    font: 1em/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
  }

  .heroSubtitleGroup_span1 {
    font: 0.5em/1.2 Actor, Helvetica, Arial, serif;
  }

  .technologicalDescriptionTitle {
    position: absolute;
    bottom: -76px;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 117px;
    font: 400 32px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    transform: translate(-50%, 0);

    @include md {
      align-items: flex-start;
      font-size: 30px;
    }

    @include xxs {
      font-size: 26px;
    }
  }

  .searchAreaGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 123px auto 0;
    width: 86.49%;
    max-width: 1280.046875px;

    @include xs {
      margin: 80px auto 0;
    }

    @include tn {
      margin: 50px auto 0;
    }
  }

  .color4 {
    position: relative;
    width: 100%;
    min-height: 150px;
    background-color: rgb(206 239 250);
    border-radius: 49px;
    box-shadow: 7px 5px 10px 5px rgb(0 0 0 / 25%);
  }

  .searchAreaTitle {
    position: absolute;
    top: 45px;
    left: 17px;
    display: flex;
    justify-content: center;
    width: 320px;
    height: 49px;
    font: 400 40px/1.22 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 36px;
    }

    @include xxs {
      font-size: 32px;
    }
  }

  .districtsGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 31px auto 100px;
    width: 95.95%;
    max-width: 1420.046875px;

    @include xs {
      margin: 31px auto 80px;
    }

    @include tn {
      margin: 31px auto 50px;
    }
  }

  .color {
    position: relative;
    width: 100%;
    min-height: 1400px;
    background-color: rgb(206 239 250);
    border-radius: 40px;
    box-shadow: 10px 10px 100px 0 rgb(0 0 0 / 25%);
  }

  .districtsTitle {
    position: absolute;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 275px;
    height: 78px;
    font: 700 64px/1.21 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    transform: translate(-50%, 0);

    @include md {
      align-items: flex-start;
      font-size: 52px;
    }

    @include xxs {
      font-size: 36px;
    }
  }

  .districtImage {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 120px;
  }

  .districtsFlexContainer {
    position: absolute;
    top: 250px;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 75px 0;
    width: 1299px;
    transform: translate(-50%, 0);

    @include tn {
      gap: 50px 0;
    }
  }

  .flex_row1 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include tn {
      column-gap: 8px;
    }
  }

  .districtCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .color2 {
    position: relative;
    min-height: 500px;
    background-color: rgb(255 255 255);
    border-radius: 30px;
  }

  .flex_col {
    position: absolute;
    top: 50%;
    left: 40.484375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px 0;
    width: 242px;
    transform: translate(0, -50%);
  }

  .flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px 0;
    width: 100%;
  }

  .flex_col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;
    width: 100%;
  }

  .districtNameTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage1 {
    width: 199.984375px;
    max-width: 85%;
    object-fit: cover;
  }

  .districtFlightTime {
    display: flex;
    justify-content: center;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton {
    display: flex;
    justify-content: center;
    margin: 0 21px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }

  .districtCard2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .flex_col3 {
    position: absolute;
    top: 29px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px 0;
    width: 242px;
    transform: translate(-50%, 0);
  }

  .flex_col4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .districtNameTitle2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage2 {
    margin: 5px 0 0;
    width: 199.984375px;
    max-width: 85%;
    object-fit: cover;
  }

  .districtFlightTime2 {
    display: flex;
    justify-content: center;
    margin: 29px 0 0;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton2 {
    display: flex;
    justify-content: center;
    margin: 0 22px 0 20px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }

  .districtCard3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .districtNameTitle3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage3 {
    margin: 5px 0 0;
    width: 199.984375px;
    max-width: 85%;
    object-fit: cover;
  }

  .districtFlightTime3 {
    display: flex;
    justify-content: center;
    margin: 38px 0 0;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton3 {
    display: flex;
    justify-content: center;
    margin: 0 22px 0 20px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }

  .districtsGridContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;

    @include tn {
      column-gap: 8px;
    }
  }

  .districtCard4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .districtNameTitle4 {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage4 {
    margin: 5px 0 0;
    width: 90.91%;
    object-fit: cover;
  }

  .districtFlightTime4 {
    display: flex;
    justify-content: center;
    margin: 8px 0 0;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton4 {
    display: flex;
    justify-content: center;
    margin: 0 21px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }

  .districtCard5 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .districtNameTitle5 {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage5 {
    margin: 5px 0 0;
    width: 199.984375px;
    max-width: 85%;
    object-fit: cover;
  }

  .districtFlightTime5 {
    display: flex;
    justify-content: center;
    margin: 11px 0 0;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton5 {
    display: flex;
    justify-content: center;
    margin: 0 21px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }

  .districtCard6 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 325px;
    min-width: 0;
  }

  .districtNameTitle6 {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 600 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }
  }

  .districtImage6 {
    margin: 5px 0 0;
    width: 86.78%;
    object-fit: cover;
  }

  .districtFlightTime6 {
    display: flex;
    justify-content: center;
    margin: 7px 0 0;
    width: 199.984375px;
    max-width: 85%;
    font: 400 20px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .addButton6 {
    display: flex;
    justify-content: center;
    margin: 0 21px;
    width: 200px;
    max-width: 100%;
    font: italic 300 24px/1.2 "Montserrat Alternates", Helvetica, Arial, serif;
    color: rgb(0 0 0);
    text-align: center;
    background-color: rgb(217 217 217);
    border-radius: 30px;
    padding: 18px 30px;
  }
}
